# A main builder and compiler of our game for GitHub actions
name: Build

on:
  push:
      branches: [main]
  

  workflow_dispatch:

jobs:
    buildLinux:
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v4.1.7

        - uses: krdlab/setup-haxe@master
          with:
            haxe-version: 4.3.6
          
        - name: Install required Haxelib libs
          run: |
            sudo apt-get install libvlc-dev
            sudo apt-get install libvlccore-dev
            haxelib setup ~/haxelib
            haxelib install flixel
            haxelib install flixel-addons
            haxelib install flixel-ui
            haxelib install lime 8.0.2
            haxelib install openfl
            haxelib install hxcpp
            haxelib install hxdiscord_rpc 1.2.4
        
        - name: Create Version Tag
          run: echo "${{github.run_id}} > VERSION"
        
        - name: Configure main target
          run: |
            haxelib set lime 8.0.2
            haxelib set hxdiscord_rpc 1.2.4

        - name: Compile and build
          run: haxelib run lime build linux
        
        - name: Publish main artifacts
          uses: actions/upload-artifact@v4.3.4
          with:
            name: Sbinator-linux_build
            path: 'export/release/linux/bin'
    buildWindows:
      runs-on: windows-latest

      steps:
        - uses: actions/checkout@v.4.1.7

        - uses: krdlab/setup-haxe@master
          with:
            haxe-version: 4.3.6
          
        - name: Install required Haxelib libs
          run: |
            haxelib setup ~/haxelib
            haxelib install flixel
            haxelib install flixel-addons
            haxelib install flixel-ui
            haxelib install lime 8.0.2
            haxelib install openfl
            haxelib install hxcpp
            haxelib install hxdiscord_rpc 1.2.4
          
        - name: Create version tag
          run: echo "${{github.run_id}}" > VERSION
          
        - name: Configure main target
          run: |
            haxelib set lime 8.0.2
            haxelib set hxdiscord_rpc 1.2.4
          
        - name: Compile and build
          run: haxelib run lime build windows
          
        - name: Publish main artifact
          uses: actions/upload-artifact@v4.3.4
          with:
            name: Sbinator-windows_build
            path: export/release/windows/bin